body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom right, #585151, #222222);
  direction: rtl;
}

.app {
  width: 100%;
  height: 100%;

  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-steps {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 30em;
  width: 20em;
  display: flex;
  flex-direction: column;
}

.upload-steps--item {
  margin: 0;
  padding: 0;
}

.upload-steps--item--header {
  font-size: 3em;
  color: #ff5454;
  margin: 0 0 .5em;
  width: 3em;
}

.uploader-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: block;
}

.submit-wrapper {
  width: 100%;
}

.button {
  color: rgb(231, 231, 231);
  background-color: #ff5454;
  font-size: 1.3em;
  padding: .7em 0;
  border-radius: .5em;
  border: 0;
  transition: all 200ms;
  cursor: pointer;  
  text-align: center;
  width: 100%;
}

.button:hover {
  background-color: #a73a3a;
}

.button:active {
  background-color: azure;
  color: #333;
}

.button:disabled {
  cursor: default;
  opacity: .7;
}

.status {
  color: azure;
}

.uploader-input {
  /* hiding original input */
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;

  /* style */
  cursor: pointer;
}
