body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom right, #585151, #222222);
}

.button-container {
  width: 100%;
  height: 100%;

  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploader-wrapper {
  overflow: hidden;
  position: relative;

  color: rgb(180, 180, 180);
  background-image: linear-gradient(to bottom left, #851212, #990505);
  font-size: 2em;
  padding: 1em 4em;
  border-radius: .5em;
  border: 2px solid rgb(160, 160, 160);
}

.uploader-input {
  /* hiding original input */
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;

  /* style */
  cursor: pointer;
}
